services:
  akv-emulator:
    container_name: akv-emulator
    image: decioc/akv-emulator
    environment:
      - SECRETS_DIR=/external-data
      - CERTIFICATES_DIR=/external-data
      - SSL_KEY_PATH=/tls/ec-key.pem
      - SSL_CERT_PATH=/tls/ec-cert.pem
    volumes:
      - ./data:/external-data:ro
      - ./certs:/tls:ro
    ports:
      - "3443:3443"
    networks:
      - pagopa-jwt-issuer-net
  pagopa-jwt-issuer-service:
    container_name: pagopa-jwt-issuer-service
    build:
      dockerfile: "${DOCKER_FILE_NAME}"
      context: .
    env_file:
      - ./.env
    volumes:
      - ./certs/truststore.jks:/certs/truststore.jks:ro
    command:
      - "-Djavax.net.ssl.trustStore=/certs/truststore.jks"
      - "-Djavax.net.ssl.trustStorePassword=changeit"
    ports:
      - "8080:8080"
    depends_on:
      - akv-emulator
    networks:
      - pagopa-jwt-issuer-net
networks:
  pagopa-jwt-issuer-net:
    driver: bridge
